{{ define "main" }}
<h2>Books</h2>
{{ range .Site.Sections }}
<ul>
  <li><a href="{{ .Permalink }}"><h4 class="class">{{ .Title }}</h4></a></li>
  <ul>
    {{ range (where .CurrentSection.Pages "Permalink" "ne" .Permalink) }}
    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    <ul>
      {{ range (where .CurrentSection.Pages "Permalink" "ne" .Permalink) }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </ul>
</ul>
{{ end }} {{ end }}
