{{ define "main" }}
<h2 id="the-plan">The Plan</h2>
<ul>
  <li>
    Proof-writing and Problem-solving
    <ul>
      <li>
        <a href="{{ .Site.BaseURL }}/proof-prob/prove/"
          >How to Prove It, by Daniel J. Velleman</a
        >
      </li>
      <li>How to Solve It, by George Polya</li>
    </ul>
  </li>
  <li>
    Linear Algebra
    <ul>
      <li>Linear Algebra, by Serge Lang</li>
    </ul>
  </li>
  <li>
    Real Analysis
    <ul>
      <li>Principles of Mathematical Analysis, by Walter Rudin</li>
      <li>Understanding Analysis, by Stephen Abbott</li>
      <li>Calculus, by Michael Spivak</li>
    </ul>
  </li>
  <li>
    Complex Analysis
    <ul>
      <li>Complex Analysis, by Joseph Bak, et. al</li>
      <li>Visual Complex Analysis, by Tristan Needham</li>
    </ul>
  </li>
  <li>
    ODE &amp; PDE
    <ul>
      <li>Ordinary Differential Equations, by Morris Tenenbaum, et. al</li>
      <li>
        Partial Differential Equations: An Introduction, by Walter Strauss
      </li>
      <li>Fourier Series, by Georgi Tolstov</li>
    </ul>
  </li>
</ul>
<h2 id="details">Details</h2>
<p>This repository exists for three main reasons:</p>
<ul>
  <li>
    To function as a sort of track for my progress in learning the elements of
    mathematics
  </li>
  <li>To contain my notes and exercises as I work through various books</li>
  <li>
    For the reference of other people who may want to teach themselves
    mathematics
  </li>
</ul>
<p>
  <strong
    >My goal is to work through an undergraduate level course worth of
    Mathematics, before finishing my A-levels (2 years)</strong
  >. I doubt I will succeed, but when setting goals it&#39;s nice to be
  optimistic, no? Works as a motivator.
</p>
<p>
  Because I will be doing this in tandem with my A-levels, and the main focus in
  the A-levels Mathematics syllabus around this time is Calculus, I will not be
  studying Calculus on my own outside of school.
</p>
<p>
  I will learn through <em>books</em> for the most part, because I am most
  comfortable with them. When I work through books, I study through them maybe
  one or two hours a day, or till I complete a certain part/subchapter, and the
  exercises as well.
</p>
<p>
  I will take notes and solve exercises using LaTeX. For more complex problems,
  I will likely attempt them using paper and pencil before transcribing.
</p>
<p>
  <strong>NOTE</strong>:
  <em
    >This plan is highly theoretical, at least for now. It&#39;s a compilation
    of internet wisdom, and not really a complete work yet.</em
  >
</p>
{{ end }}
