{{ define "main" }}
<h2 id="the-plan">The Plan</h2>
<ul>
  <li>
    Proof-writing and Problem-solving <strong>(21/02/2024)</strong>
    <ul>
      <li>
        <a href="https://ghassbomb.github.io/maths-track/proof-prob/prove/"
          >How to Prove It, by Daniel J. Velleman</a
        >
      </li>
      <li>
        <a href="https://ghassbomb.github.io/maths-track/proof-prob/solve/"
          >How to Solve It, by George Polya</a
        >
      </li>
    </ul>
  </li>
  <li>
    Linear Algebra <strong>(21/05/2024)</strong>
    <ul>
      <li>Linear Algebra, by Serge Lang</li>
    </ul>
  </li>
  <li>
    Real Analysis <strong>(21/08/2024)</strong>
    <ul>
      <li>Undergraduate Analysis, by Serge Lang</li>
    </ul>
  </li>
  <li>
    Complex Analysis <strong>(21/12/2024)</strong>
    <ul>
      <li>Complex Analysis, by Joseph Bak, et. al</li>
      <li>Visual Complex Analysis, by Tristan Needham</li>
    </ul>
  </li>
</ul>
<h2 id="details">Details</h2>
<p>This repository exists for three main reasons:</p>
<ul>
  <li>
    To function as a sort of track for my progress in learning mathematics upto an undergraduate level
  </li>
  <li>To contain my notes and exercises as I work through various books</li>
  <li>
    For the reference of other people who may want to teach themselves
    mathematics
  </li>
</ul>
<p>
  <strong
    >My goal is to work through an undergraduate level course worth of
    Mathematics, before finishing my A-levels (1 year)</strong
  >. I <em>highly</em> doubt I will succeed, but when setting goals it&#39;s nice to be
  optimistic, no? Works as a motivator.
</p>
<p>
  Because I will be doing this in tandem with my A-levels, and the main focus in
  the A-levels Mathematics syllabus around this time is Calculus, I will not be
  studying Calculus on my own outside of school. Meaning, it will not be part of this track.
</p>
<p>
  <strong>NOTE</strong>:
  <em
    >This plan is highly theoretical, at least for now. It&#39;s a compilation
    of internet wisdom, and not really a complete work yet. It is continuously being updated.</em
  >
</p>
{{ end }}
